.wrapper{
    width: 100%;
    min-height: 100vh;
   

    color: #ffff;
    .container{
        margin: 5rem auto;
        a{
            color: #ffff;
            font-weight: bold;
        }
    }
}