*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
  
    /* Safari seems to support, but seems deprecated and does the same thing as the others. */
    image-rendering: -webkit-optimize-contrast;
  }
  body{
    overflow-x: hidden;
    background: rgb(161,12,14);
    background: radial-gradient(circle, rgba(161,12,14,1) 0%, rgba(0,0,0,1) 100%);
  }

  .privacyLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .privacyLink a{
    color: #ffff;
    text-decoration: none;
  }